{% extends 'base.html' %}
{% load thumbnail %}

{% block title %}People{% endblock title %}

{% block content %}
  <h1>People</h1>
  <div id="people-list">
    {% for user in users %}
      <div class="user">
        <a href="{{ user.get_absolute_url }}">
          {% thumbnail user.photo "160x160" crop="100%" as im %}
            <img src="{{ im.url }}">
          {% endthumbnail %}
        </a>
      </div>
      <div class="info">
       <a href="{{ user.get_absolute_url }}" class="title">
         {{ user.get_full_name }}
       </a>
      </div>
    {% endfor %}
  </div>
{% endblock content %}