{% extends "base.html" %}

{% block title %}Logged out{% endblock title %}

{% block content %}
  <h1>Logged out</h1>
  <p>
    Logged out successfully. You can <a href="{% url "login" %}">login again</a>.
  </p>
{% endblock content %}