{% extends "base.html" %}

{% block title %}Login{% endblock title %}

{% block content %}
  <h1>Login</h1>
  {% if form.errors %}
    <p>
      Your username and password didn't match.
      Try again.
    </p>
  {% else %}
    <p>
      Use the following form to login. <br> If you don't have an account please register
      using the following link: <a href="{% url 'register' %}">register</a>
    </p>
  {% endif %}
    <div class="login-form">
      <form action="{% url 'login' %}" method="post">
        {{ form.as_p }}
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}" />
        <p><input type="submit" value="Login"></p>
      </form>
      <p><a href="{% url "password_reset" %}">Forgotten your password?</a></p>
    </div>
    <div class="social">
      <ul>
        <li class="facebook"><a href="{% url "social:begin" "facebook" %}">Sign in with Facebook</a></li>
      </ul>
    </div>
{% endblock content %}