{% extends 'base.html' %}

{% block title %}Change password {% endblock title %}

{% block content %}
  <h1>Change your password</h1>
  <p>Use following form to change your password</p>
  <form action="." method="post">
    {{ form.as_p }}
    <p><input type="submit" value="Change"></p>
    {% csrf_token %}
  </form>

{% endblock content %}