{% extends "base.html" %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
  <h1>Reset your password</h1>
  <p>Instruction for password reset has been sent to your mail.</p>
  <p>If you don't receive an email, please make sure you've entered proper email address.</p>
{% endblock content %}