{% extends "base.html" %}

{% block title %}Reset your password{% endblock title %}

{% block content %}
  <h1>Forgotten your password?</h1>
  <p>Enter your email address to reset your password.</p>
  <form action="." method="post">
    {{ form.as_p }}
    <p><input type="submit" value="Send e-mail"></p>
    {% csrf_token %}
  </form>
{% endblock content %}