{% extends "base.html" %}

{% block title %}Registration Complete!{% endblock title %}

{% block content %}
  <h1>Welcome, {{ new_user.first_name }}</h1>
  <p>Your account has been successfully created. You can now <a href="{% url 'login' %}">Login</a> </p>
{% endblock content %}