{% extends "base.html" %}

{% block title %}Create account{% endblock title %}

{% block content %}
  <h1>Create an account</h1>
  <p>Please, sign up with the following form:</p>
  <form action="." method="post">
    {{ user_form.as_p }}
    {% csrf_token %}
    <p><input type="submit" value="Create account"></p>
  </form>
{% endblock content %}